# Fichiers système / éditeurs
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
*.iml

# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
*.lock.bak
coverage/

# Android
android/.gradle/
android/local.properties
android/key.properties
android/**/*.jks
android/**/*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/ephemeral/
**/xcuserdata/

# Secrets
*.env
.env.*
